
body{

    background-color: rgb(224, 21, 21); 
	font-family: Verdana;
	font-size: 20px;
	color: rgb(238, 238, 238);
    text-align: center;
}
h1
{
	font-size: 48px;
	color: rgb(196, 209, 11) !important;
}
h2
{
	font-size: 48px;
	color: rgb(224, 16, 165) !important;
}
h3
{
	font-size: 48px;
	color: rgb(38, 197, 73) !important;
}
h4
{
	font-size: 48px;
	color: rgb(218, 144, 33) !important;
}
h5
{
	font-size: 48px;
	color: rgb(29, 185, 172) !important;
}